*, *::before, *::after {
  box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

p {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'PT Serif', serif;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
    font-family: 'PT Serif', serif;
    font-size: 2rem;
    width: max-content;
    height: min-content;
}

h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: 'PT Serif', serif;
    font-size: 1.25rem;
    width: max-content;
    height: min-content;
}

a:link, a:visited {
  color: #ffffff;
}

hr {
    border-top: 0.25vh solid #000000;
    border-radius: 0.5vh;
    width: 50%;
    margin: 2vh auto;
}

header {
    border: 2vh solid #000000;
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav_button {
    border-radius: 0.25rem;
    box-shadow: 0.25rem -0.25rem 0.25rem #ffffff;
    font-size: 2.5vh;
    padding-right: 0.25rem;
}

.introduction {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-items: center;
    font-family: 'Playfair Display', serif;
    background-color: #000000;
    padding-bottom: 1vh;
    color: #ffffff;
}

.profile_pic {
    grid-column: 1 / 4;
}

.intro_name, .intro_additional_text {
    border: 0;
    padding: 0;
}

.intro_name {
    grid-column: 1 / 4;
    font-size: 3rem;
}

.intro_additional_text {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    margin-bottom: 1vh;
}

#bio {
    font-family: 'PT Serif', serif;
    margin: 2vw 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio_header {
    font-size: 1.5rem;
    margin-bottom: 1vh;
}

#projects {
    background-color: #bfbfbf;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.projects_header  {
    margin: 2vh auto;
    text-align: center;
    font-size: 1.5rem;
}

.projects_main {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vh;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

.project_1, .project_2, .project_3, .project_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 2vh;
    padding: 0.75vh;
    border: 0.25vh solid #808080;
}

.project_title {
    text-align: center;
}

.project_description {
    width: 80%;
    font-size: 1rem;
}

.project_image {
    width: 80%;
    background-color: #000000;
    box-shadow: 0.7vh 0.7vh 0.4vh 0.2vh #999999;
    font-size: 1rem;
    padding-bottom: 0.5vh;
}

a.image:hover {
    opacity: 0.5;
}

#contacts {
    background-color: #000000;
    padding: 0.85vh;
}

.contacts_heading {
    margin: 0 auto;
    width: min-content;
    color: #ffffff;
    text-align: center;
}

.contacts_telephone, .contacts_text {
    color: #ffffff;
}

@media only screen and (min-width: 700px) {
    hr {
        border-top: 0.5vh solid #000000;
    }
    
    .nav_button {
        font-size: 4vh;
    }
    
    .navbar {
        justify-content: center;
        gap: 10rem;
    }
    
    .profile_pic {
        width: 25rem;
        height: auto;
    }
    
    .projects_main {
        grid-template-columns: repeat(2, 1fr);
        gap: 4vh;
    }
    
    .project_title {
        font-size: 2rem;
    }
    
    .project_1, .project_2, .project_3, .project_4 {
        padding: 1vh;
        border: 0.5vh solid #808080;
    }
    
    .project_description {
        font-size: 1rem;
    }
    
    .project_image {
        font-size: 1.5rem;
        padding-bottom: 1vh;
    }
}
