$primary_color: #34568B;
$secondry_color: #92A8D1;
$third_color: #E7F1DA;
$primary_font_color: #CCCCCC;
$secondry_font_color: #000000;
$main_font: 'PT Serif', serif;
$secondry_font: 'Ubuntu', sans-serif;
$third_font: 'Playfair Display', serif;

