$primary_color: #BA4F56;
$secondry_color: #A9232C;
$third_color: #E7F1DA;
$primary_font_colour: #E7F1DA;
$secondry_font_colour: #000000;
$main_font: 'PT Serif', serif;
$secondry_font: 'Ubuntu', sans-serif;
$third_font: 'Playfair Display', serif;

@mixin boxborder {
    border: 0.15rem solid black;
}
