@import 'variables';

*, *::before, *::after {
  box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

p {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: $main_font
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
    font-family: $main_font;
    font-size: 2rem;
    width: max-content;
    height: min-content;
}

h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: $main_font;
    font-size: 1.25rem;
    width: max-content;
    height: min-content;
}

a {
    &:link {
        color: $secondry_color;
    }

    &:visited {
        color: $secondry_color;
    }
}

hr {
    border-top: 0.25vh solid $primary_color;
    border-radius: 0.5vh;
    width: 50%;
    margin: 2vh auto;
}

header {
    border: 2vh solid $primary_color;
    background-color: $primary_color;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    font-family: $secondry_font;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav_button {
    border-radius: 0.25rem;
    box-shadow: 0.25rem 0 0.25rem $secondry_color;
    font-size: 2.5vh;
    padding-right: 0.25rem;
}

.introduction {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-items: center;
    font-family: $third_font;
    background-color: $primary_color;
    padding-bottom: 1vh;
    color: $secondry_color;
}

.profile_pic {
    grid-column: 1 / 4;
}

.intro_name, .intro_additional_text {
    border: 0;
    padding: 0;
}

.intro_name {
    grid-column: 1 / 4;
    font-size: 3rem;
}

.intro_additional_text {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    margin-bottom: 1vh;
}

#bio {
    font-family: $main_font;
    margin: 2vw 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.bio_header {
    font-size: 1.5rem;
    margin-bottom: 1vh;
}

#projects {
    background-color: $third_color;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.projects_header  {
    margin: 2vh auto;
    text-align: center;
    font-size: 1.5rem;
}

.projects_main {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vh;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

.project_1, .project_2, .project_3, .project_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 2vh;
    padding: 0.75vh;
    border: 0.25vh solid $third_color;
}

.project_1_title, .project_2_title, .project_3_title, .project_4_title {
    text-align: center;
}

.project_1_description, .project_2_description, .project_3_description, .project_4_description {
    width: 80%;
    font-size: 1rem;
}

.project_1_image, .project_2_image, .project_3_image, .project_4_image {
    width: 80%;
    box-shadow: 0.7vh 0.7vh 0.2vh 0.2vh $third_color;
}

#contacts {
    background-color: $primary_color;
}

.contacts_heading {
    margin: 0 auto;
    width: min-content;
    color: $secondry_color;
    text-align: center;
}

.contacts_telephone, .contacts_text {
    color: $secondry_color;
}

@media only screen and (min-width: 700px) {
    hr {
        border-top: 0.5vh solid $primary_color;
    }
    
    .nav_button {
        font-size: 4vh;
    }
    
    .navbar {
        justify-content: center;
        gap: 10rem;
    }
    
    .profile_pic {
        width: 25rem;
        height: auto;
    }
    
    .projects_main {
        grid-template-columns: repeat(2, 1fr);
        gap: 4vh;
    }
    
    .project_1_title, .project_2_title, .project_3_title, .project_4_title {
        font-size: 2rem;
    }
    
    .project_1, .project_2, .project_3, .project_4 {
        padding: 1vh;
        border: 0.5vh solid $third_color;
    }
    
    .project_1_description, .project_2_description, .project_3_description, .project_4_description {
        font-size: 1rem;
    }
}
