@import 'variables';

*, *::before, *::after {
  box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

#intro {
    background-color: $primary_color;
    font-family: $third_font;
    text-align: center;
    padding: 2rem;
}

#bio {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: $third_color;
    color: $secondry_font_colour;
}

#projects {
    padding: 2rem;
    background-color: $secondry_color;
    color: $primary_font_colour;
}

